<div class="flex flex-col gap-5">
  <button
    class="py-3 px-5 rounded-3xl text-white bg-primary-700 hover:opacity-80 w-full sm:w-fit"
    (click)="onOpenForm()"
  >
    Adicionar meta
  </button>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    <div
      class="w-full flex flex-col items-center gap-2 rounded-lg bg-white dark:bg-gray-800 p-4"
      *ngFor="let goal of goals; let index = index"
      [@goalAnimation]="currentAnimationState"
    >
      <h2 class="text-center text-xl dark:text-white">
        {{ goal.category.title }}
        {{ goal.essentialExpenses ? "Essencial" : "Não Essencial" }}
      </h2>
      <div class="relative">
        <ngx-gauge
          class="dark:text-white text-opacity-0"
          type="arch"
          [value]="gaugePercentage(goal)"
          label="Despesas"
          [min]="0"
          [max]="100"
          [thick]="12"
          [thresholds]="chartThresholdConfig"
          append="%"
        >
        </ngx-gauge>
      </div>

      <p class="dark:text-white">
        Gastos atuais: {{ getGoalTotalExpenses(goal) | currency : "BRL" }}
      </p>
      <p class="dark:text-white">Limite: {{ goal.value | currency : "BRL" }}</p>

      <div class="w-full flex flex-row justify-between gap-4 px-2 py-2 rounded">
        <button
          class="flex justify-center items-center w-1/2 h-9 p-2 text-white rounded-lg hover:bg-green-600 transition-all group"
          (click)="onSelectGoal(index)"
          title="Editar meta"
        >
          <ng-icon
            class="text-green-600 group-hover:text-white transition-all"
            name="bootstrapPencilFill"
            size="22"
          ></ng-icon>
        </button>
        <button
          class="flex justify-center items-center w-1/2 h-9 p-2 text-white rounded-lg hover:bg-red-600 transition-all group"
          (click)="onDeleteGoal(goal.id)"
          title="Deletar meta"
        >
          <ng-icon
            class="text-red-600 group-hover:text-white transition-all"
            name="bootstrapTrash3Fill"
            size="22"
          ></ng-icon>
        </button>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
    *ngIf="isLoading && goals.length === 0"
  >
    <div
      class="w-full h-48 rounded-lg animate-loadingRespiration"
      *ngFor="let _ of [1, 2, 3]"
    ></div>
  </div>
</div>

<div
  class="w-screen h-screen flex flex-col items-center fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 bg-white dark:bg-dark !bg-opacity-40"
  *ngIf="showForm"
  (click)="onCloseForm()"
></div>

<form
  class="h-screen sm:h-dashboardForm w-full sm:w-96 overflow-y-auto flex flex-col gap-6 fixed z-50 top-0 left-0 sm:top-1/2 sm:left-1/2 sm:-translate-y-1/2 sm:-translate-x-1/2 dark:text-white bg-white sm:border-white sm:border-2 sm:shadow-md sm:shadow-gray-300 sm:dark:shadow-gray-700 py-5 px-4 dark:bg-gray-800 sm:px-6 transition-all"
  [formGroup]="form"
  *ngIf="showForm"
  (ngSubmit)="onSubmit()"
>
  <button
    class="flex justify-center items-center self-end text-5xl w-16 h-16 rounded-full p-2 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-600 hover:opacity-70 mr-8 sm:hidden"
    (click)="onCloseForm()"
  >
    &times;
  </button>
  <h1 class="text-2xl text-center">
    {{ selectedGoal ? "Editar meta" : "Adicionar meta" }}
  </h1>
  <div>
    <label class="block" for="value">Valor</label>
    <input
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !form.get('value')!.valid && form.get('value')!.touched
      }"
      placeholder="Digite o limite da meta"
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      name="value"
      formControlName="value"
    />
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('value')!.touched &&
        form.get('value')!.errors &&
        form.get('value')!.errors!['required']
      "
    >
      Por favor, informe um limite para a meta
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('value')!.touched &&
        form.get('value')!.errors &&
        form.get('value')!.errors!['min']
      "
    >
      O limite precisa ser no mínimo {{ valueMin | currency : "BRL" }}
    </p>

    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('value')!.touched &&
        form.get('value')!.errors &&
        form.get('value')!.errors!['max']
      "
    >
      O limite precisa ser no máximo
      {{ valueMax | currency : "BRL" : "R$" : "14.2" }}
    </p>
  </div>

  <div>
    <label class="block" for="category">Categoria</label>
    <select
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      name="category"
      formControlName="categoryId"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !form.get('categoryId')!.valid && form.get('categoryId')!.touched
      }"
    >
      <option class="dark:bg-dark" value="" selected disabled hidden>
        Selecione uma categoria
      </option>
      <option
        class="dark:bg-dark"
        [value]="category.id"
        *ngFor="let category of categories"
      >
        {{ category.title }}
      </option>
    </select>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('categoryId')!.touched &&
        form.get('categoryId')!.errors &&
        form.get('categoryId')!.errors!['required']
      "
    >
      Por favor, selecione uma categoria
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('categoryId')!.touched &&
        form.get('categoryId')!.errors &&
        form.get('categoryId')!.errors!['invalidCategory']
      "
    >
      Essa categoria é inválida
    </p>
  </div>

  <div>
    <label class="block" for="essentialExpenses">Despesas essenciais</label>
    <select
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      name="essentialExpenses"
      formControlName="essentialExpenses"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !form.get('essentialExpenses')!.valid &&
          form.get('essentialExpenses')!.touched
      }"
    >
      <option selected class="dark:bg-dark" [value]="false">Não</option>
      <option class="dark:bg-dark" [value]="true">Sim</option>
    </select>
  </div>

  <button
    class="h-11 flex justify-center items-center bg-primary-900 rounded-xl font-bold text-lg text-white w-full p-2 disabled:bg-opacity-60 enabled:hover:opacity-80 transition-all"
  >
    {{ selectedGoal ? "Atualizar" : "Criar" }}
  </button>
</form>
