<div class="flex flex-col overflow-x-auto gap-5">
  <button
    class="py-3 px-5 rounded-3xl text-white bg-primary-700 hover:opacity-80 w-full sm:w-fit"
    (click)="onOpenForm()"
  >
    Adicionar despesa
  </button>

  <div>
    <table
      mat-table
      [dataSource]="tableDataSource"
      matSort
      class="mat-elevation-z8 min-w-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
        <td class="break-words max-w-md" mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.value | currency : "BRL" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let element">
          {{ element.category.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isEssential">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Gasto Essencial
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.isEssential ? "Sim" : "Não" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date : "dd/MM/YYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td class="!z-0" mat-cell *matCellDef="let element; let index = index">
          <div class="flex flex-col gap-2 py-2">
            <button
              class="p-2 bg-primary-800 text-white rounded-lg bg-opacity-90 hover:bg-opacity-100"
              (click)="onSelectExpense(index)"
            >
              Editar
            </button>
            <button
              class="p-2 bg-red-700 text-white rounded-lg bg-opacity-90 hover:bg-opacity-100"
              (click)="onDeleteExpense(element.id)"
            >
              Deletar
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        [@rowAnimation]="currentAnimationState"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      class="min-w-table"
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      aria-label="Seleciona uma página de despesas"
    >
    </mat-paginator>
  </div>
</div>

<div
  class="w-screen h-screen flex flex-col items-center fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 bg-white dark:bg-dark !bg-opacity-40"
  *ngIf="showForm"
  (click)="onCloseForm()"
></div>

<form
  class="h-dashboardForm overflow-y-auto flex flex-col gap-6 fixed top-80 sm:top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 dark:text-white bg-white border-white border-2 w-fit shadow-md shadow-gray-300 dark:shadow-gray-700 py-5 px-4 dark:bg-gray-800 sm:px-6"
  [formGroup]="form"
  *ngIf="showForm"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-2xl text-center">
    {{ selectedExpense ? "Editar despesa" : "Adicionar despesa" }}
  </h1>
  <div>
    <label class="block" for="value">Valor</label>
    <input
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !form.get('value')!.valid && form.get('value')!.touched
      }"
      placeholder="Digite o valor da receita"
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      name="value"
      formControlName="value"
    />
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('value')!.touched &&
        form.get('value')!.errors &&
        form.get('value')!.errors!['required']
      "
    >
      Por favor, informe um valor
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('value')!.touched &&
        form.get('value')!.errors &&
        form.get('value')!.errors!['min']
      "
    >
      O valor precisa ser no mínimo {{ valueMin | currency : "BRL" }}
    </p>

    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('value')!.touched &&
        form.get('value')!.errors &&
        form.get('value')!.errors!['max']
      "
    >
      O valor precisa ser no máximo
      {{ valueMax | currency : "BRL" : "R$" : "14.2" }}
    </p>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Escolha uma data</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <label class="block" for="description">Descrição</label>
    <textarea
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !form.get('description')!.valid && form.get('description')!.touched
      }"
      placeholder="Insira uma descrição para a receita"
      name="description"
      formControlName="description"
    ></textarea>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('description')!.touched &&
        form.get('description')!.errors &&
        form.get('description')!.errors!['required']
      "
    >
      Por favor, informe uma descrição
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('description')!.touched &&
        form.get('description')!.errors &&
        form.get('description')!.errors!['maxLength']
      "
    >
      A descrição só pode ter até {{ descriptionMaxLength }} caracteres
    </p>
  </div>

  <div>
    <label class="block" for="category">Categoria</label>
    <select
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      name="category"
      formControlName="categoryId"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !form.get('categoryId')!.valid && form.get('categoryId')!.touched
      }"
    >
      <option class="dark:bg-dark" value="" selected disabled hidden>
        Selecione uma categoria
      </option>
      <option
        class="dark:bg-dark"
        [value]="category.id"
        *ngFor="let category of categories"
      >
        {{ category.title }}
      </option>
    </select>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('categoryId')!.touched &&
        form.get('categoryId')!.errors &&
        form.get('categoryId')!.errors!['required']
      "
    >
      Por favor, selecione uma categoria
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        form.get('categoryId')!.touched &&
        form.get('categoryId')!.errors &&
        form.get('categoryId')!.errors!['invalidCategory']
      "
    >
      Essa categoria é inválida
    </p>
  </div>

  <div>
    <label class="block" for="isEssential">Despesa essencial</label>
    <select
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      name="isEssential"
      formControlName="isEssential"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !form.get('isEssential')!.valid && form.get('isEssential')!.touched
      }"
    >
      <option selected class="dark:bg-dark" [value]="false">Não</option>
      <option class="dark:bg-dark" [value]="true">Sim</option>
    </select>
  </div>

  <button
    class="h-11 flex justify-center items-center bg-primary-900 rounded-xl font-bold text-lg text-white w-full p-2 md:w-10/12 disabled:bg-opacity-60 enabled:hover:opacity-80 transition-all"
  >
    Entrar
  </button>
</form>
