<section
  class="min-h-main bg-white dark:bg-dark dark:text-white flex flex-col items-center gap-10 text-center p-10"
>
  <h1 class="text-5xl font-bold dark:text-white">Entre em contato</h1>
  <p class="text-lg text-gray-500 dark:text-gray-200 sm:mx-11">
    Nos contate caso você tenha alguma dúvida ou sugestão para melhorarmos o
    nosso serviço. Nós entraremos em contato para passar todas as informações
    necessárias, o mais rápido possível.
  </p>
  <form
    class="w-full flex flex-col items-center gap-6 py-8 px-4 sm:px-6 lg:px-20 xl:px-36"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <!--Subject Field-->
    <div class="w-full md:w-10/12">
      <div
        class="rounded-md border-2 border-stone-200 py-1 px-2 dark:border-white bg-white dark:bg-gray-800"
        [ngClass]="{
          'border-red-600 dark:border-red-600':
            !form.get('subject')!.valid && form.get('subject')!.touched
        }"
      >
        <input
          class="outline-none w-full bg-transparent"
          type="text"
          placeholder="Assunto"
          formControlName="subject"
        />
      </div>
      <p
        class="text-start text-gray-500 ml-1 mt-1 dark:text-gray-300"
        *ngIf="
          form.get('subject')!.touched &&
          form.get('subject')!.errors &&
          form.get('subject')!.errors!['required']
        "
      >
        Por favor, informe o assunto
      </p>
      <p
        class="text-start text-gray-500 ml-1 mt-1 dark:text-gray-300"
        *ngIf="
          form.get('subject')!.touched &&
          form.get('subject')!.errors &&
          form.get('subject')!.errors!['minlength']
        "
      >
        O assunto deve ter pelo menos 10 caracteres
      </p>
      <p
        class="text-start text-gray-500 ml-1 mt-1 dark:text-gray-300"
        *ngIf="
          form.get('subject')!.touched &&
          form.get('subject')!.errors &&
          form.get('subject')!.errors!['maxlength']
        "
      >
        O assunto só pode ter até 100 caracteres
      </p>
    </div>

    <!--Message-->
    <div class="w-full md:w-10/12">
      <textarea
        class="w-full min-h-footer bg-transparent rounded-md border-2 border-stone-200 py-1 px-2 dark:border-white bg-white dark:bg-gray-800"
        [ngClass]="{
          'border-red-600 dark:border-red-600':
            !form.get('message')!.valid && form.get('message')!.touched
        }"
        placeholder="Mensagem"
        formControlName="message"
      ></textarea>
      <p
        class="text-start text-gray-500 ml-1 mt-1 dark:text-gray-300"
        *ngIf="
          form.get('message')!.touched &&
          form.get('message')!.errors &&
          form.get('message')!.errors!['required']
        "
      >
        Por favor, digite a mensagem
      </p>
      <p
        class="text-start text-gray-500 ml-1 mt-1 dark:text-gray-300"
        *ngIf="
          form.get('message')!.touched &&
          form.get('message')!.errors &&
          form.get('message')!.errors!['minlength']
        "
      >
        A mensagem deve ter pelo menos 20 caracteres
      </p>
    </div>
    <button
      class="bg-primary-900 bg-opacity-30 rounded-xl font-bold text-lg text-white w-full p-2 md:w-10/12 hover:opacity-80 transition-all"
      [disabled]="!form.valid"
    >
      Enviar
    </button>
    <a href="{{ getEmailHref() }}" hidden #emailAnchor></a>
  </form>
</section>
