<section class="min-h-main flex flex-col gap-10 p-6 bg-primary-50 dark:bg-dark">
  <div
    class="flex flex-row flex-wrap justify-center gap-2 w-full sm:gap-3 md:justify-between"
  >
    <div
      class="w-full h-fit flex flex-col bg-primary-800 p-6 rounded-xl text-white sm:w-5/12 md:w-3/10"
    >
      <ng-icon class="self-end" name="tablerPigMoney" size="32"></ng-icon>
      <p class="text-3xl">
        <span class="text-sm">R$ </span
        >{{ expensesTotal | currency : "BRL" : "" }}
      </p>
      <p class="text-lg">Despesa Total</p>
    </div>
    <div
      class="w-full h-fit flex flex-col bg-primary-800 p-6 rounded-xl text-white sm:w-5/12 md:w-3/10"
    >
      <ng-icon class="self-end" name="tablerReportMoney" size="32"></ng-icon>
      <p class="text-3xl">{{ expensesLength }}</p>
      <p class="text-lg">Número de despesas</p>
    </div>
    <div
      class="w-full h-fit flex flex-col bg-primary-800 p-6 rounded-xl text-white sm:w-5/12 md:w-3/10"
    >
      <ng-icon class="self-end" name="matAttachMoney" size="32"></ng-icon>
      <p class="text-3xl">
        <span class="text-sm">R$ </span
        >{{ expensesAverage | currency : "BRL" : "" }}
      </p>
      <p class="text-lg">Média das despesas</p>
    </div>
  </div>
  <div class="flex flex-row flex-wrap gap-3">
    <div class="flex flex-row flex-wrap gap-2">
      <div
        class="flex flex-row items-center gap-4 border-2 border-gray-200 bg-white dark:bg-gray-800 rounded-xl px-4 text-black dark:text-white"
      >
        <ng-icon
          class="text-gray-600 dark:text-white"
          name="bootstrapSearch"
          size="24"
        ></ng-icon>
        <input
          class="p-2 bg-transparent outline-none"
          type="text"
          placeholder="Procurar"
          [(ngModel)]="searchQuery"
        />
      </div>
      <button
        class="py-3 px-5 rounded text-white bg-primary-700 hover:opacity-80"
        (click)="onGetExpenses()"
      >
        Buscar
      </button>
    </div>
    <button
      class="py-3 px-5 rounded-3xl text-white bg-primary-700 hover:opacity-80 w-full sm:w-fit sm:ml-auto"
      (click)="onOpenEditingForm()"
    >
      Adicionar despesa
    </button>
  </div>

  <div class="flex flex-row flex-wrap gap-6 justify-center sm:justify-start">
    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p class="mb-0">Valor</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="flex flex-col gap-2 z-40 absolute top-12 w-full p-3 rounded dark:text-white bg-white dark:bg-gray-800 invisible hover:visible group-focus-within:visible"
      >
        <label for="minValue">Valor Mínimo</label>
        <input
          class="bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          placeholder="Digite o valor mínimo"
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          [(ngModel)]="minValue"
          name="minValue"
          (keydown.enter)="onGetExpenses()"
        />

        <label for="maxValue">Valor Máximo</label>
        <input
          class="bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          placeholder="Digite o valor máximo"
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          [(ngModel)]="maxValue"
          name="maxValue"
          (keydown.enter)="onGetExpenses()"
        />
      </div>
    </div>

    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p>Data</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="w-full z-30 absolute top-14 invisible hover:visible group-focus-within:visible"
      >
        <mat-form-field appearance="fill">
          <mat-label>Escolha o intervalo</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              [(ngModel)]="startDate"
              matStartDate
              placeholder="Data inicial"
            />
            <input [(ngModel)]="endDate" matEndDate placeholder="Data final" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker
            (closed)="onGetExpenses()"
            #picker
          ></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p class="mb-0">Apenas Essenciais</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="flex flex-col gap-2 z-40 absolute top-12 w-64 p-3 rounded dark:text-white bg-white dark:bg-gray-800 invisible hover:visible group-focus-within:visible"
      >
        <select
          class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          name="isEssential"
          [(ngModel)]="isEssential"
          (change)="onGetExpenses()"
        >
          <option
            class="dark:bg-dark"
            [value]="undefined"
            selected
            disabled
            hidden
          >
            Só despesas essenciais
          </option>
          <option class="dark:bg-dark" [value]="false">Não</option>
          <option class="dark:bg-dark" [value]="true">Sim</option>
          <option class="dark:bg-dark" [value]="undefined">Tanto Faz</option>
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p class="mb-0">Categoria</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="flex flex-col gap-2 z-40 absolute top-12 w-64 p-3 rounded dark:text-white bg-white dark:bg-gray-800 invisible hover:visible group-focus-within:visible"
      >
        <select
          class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          name="categoryId"
          [(ngModel)]="categoryId"
          (change)="onGetExpenses()"
        >
          <option
            class="dark:bg-dark"
            [value]="undefined"
            selected
            disabled
            hidden
          >
            Selecione uma categoria
          </option>
          <option
            class="dark:bg-dark"
            [value]="category.id"
            *ngFor="let category of categories"
          >
            {{ category.title }}
          </option>
          <option class="dark:bg-dark" [value]="undefined">
            Nenhuma categoria
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="flex flex-col overflow-x-auto">
    <table
      mat-table
      [dataSource]="tableDataSource"
      matSort
      class="mat-elevation-z8 min-w-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
        <td class="break-words max-w-md" mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.value | currency : "BRL" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let element">
          {{ element.category.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isEssential">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Gasto Essencial
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.isEssential ? "Sim" : "Não" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date : "dd/MM/YYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td class="!z-0" mat-cell *matCellDef="let element; let index = index">
          <div class="flex flex-col gap-2 py-2">
            <button
              class="p-2 bg-primary-800 text-white rounded-lg bg-opacity-90 hover:bg-opacity-100"
              (click)="onSelectExpense(index)"
            >
              Editar
            </button>
            <button
              class="p-2 bg-red-700 text-white rounded-lg bg-opacity-90 hover:bg-opacity-100"
              (click)="onDeleteExpense(element.id)"
            >
              Deletar
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        [@rowAnimation]="currentAnimationState"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      class="min-w-table"
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      aria-label="Seleciona uma página de despesas"
    >
    </mat-paginator>
  </div>
</section>

<div
  class="w-screen h-screen flex flex-col items-center fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 bg-white dark:bg-dark !bg-opacity-40"
  *ngIf="showEditingForm"
  (click)="onCloseEditingForm()"
></div>

<form
  class="h-dashboardForm overflow-y-auto flex flex-col gap-6 fixed top-80 sm:top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 dark:text-white bg-white border-white border-2 w-fit shadow-md shadow-gray-300 dark:shadow-gray-700 py-5 px-4 dark:bg-gray-800 sm:px-6"
  [formGroup]="editingForm"
  *ngIf="showEditingForm"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-2xl text-center">
    {{ selectedExpense ? "Editar despesa" : "Adicionar despesa" }}
  </h1>
  <div>
    <label class="block" for="value">Valor</label>
    <input
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !editingForm.get('value')!.valid && editingForm.get('value')!.touched
      }"
      placeholder="Digite o valor da receita"
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      name="value"
      formControlName="value"
    />
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        editingForm.get('value')!.touched &&
        editingForm.get('value')!.errors &&
        editingForm.get('value')!.errors!['required']
      "
    >
      Por favor, informe um valor
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        editingForm.get('value')!.touched &&
        editingForm.get('value')!.errors &&
        editingForm.get('value')!.errors!['min']
      "
    >
      O valor precisa ser no mínimo R$ 0,00
    </p>

    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        editingForm.get('value')!.touched &&
        editingForm.get('value')!.errors &&
        editingForm.get('value')!.errors!['max']
      "
    >
      O valor precisa ser no máximo R$ 999.999.999.999,99
    </p>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Escolha uma data</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <label class="block" for="description">Descrição</label>
    <textarea
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !editingForm.get('description')!.valid &&
          editingForm.get('description')!.touched
      }"
      placeholder="Insira uma descrição para a receita"
      name="description"
      formControlName="description"
    ></textarea>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        editingForm.get('description')!.touched &&
        editingForm.get('description')!.errors &&
        editingForm.get('description')!.errors!['required']
      "
    >
      Por favor, informe uma descrição
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        editingForm.get('description')!.touched &&
        editingForm.get('description')!.errors &&
        editingForm.get('description')!.errors!['maxLength']
      "
    >
      A descrição só pode ter até 200 caracteres
    </p>
  </div>

  <div>
    <label class="block" for="category">Categoria</label>
    <select
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      name="category"
      formControlName="categoryId"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !editingForm.get('categoryId')!.valid &&
          editingForm.get('categoryId')!.touched
      }"
    >
      <option class="dark:bg-dark" value="" selected disabled hidden>
        Selecione uma categoria
      </option>
      <option
        class="dark:bg-dark"
        [value]="category.id"
        *ngFor="let category of categories"
      >
        {{ category.title }}
      </option>
    </select>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        editingForm.get('categoryId')!.touched &&
        editingForm.get('categoryId')!.errors &&
        editingForm.get('categoryId')!.errors!['required']
      "
    >
      Por favor, selecione uma categoria
    </p>
    <p
      class="text-gray-500 ml-1 mt-1 dark:text-gray-300"
      *ngIf="
        editingForm.get('categoryId')!.touched &&
        editingForm.get('categoryId')!.errors &&
        editingForm.get('categoryId')!.errors!['invalidCategory']
      "
    >
      Essa categoria é inválida
    </p>
  </div>

  <div>
    <label class="block" for="isEssential">Despesa essencial</label>
    <select
      class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
      name="isEssential"
      formControlName="isEssential"
      [ngClass]="{
        'border-red-600 dark:border-red-600':
          !editingForm.get('isEssential')!.valid &&
          editingForm.get('isEssential')!.touched
      }"
    >
      <option selected class="dark:bg-dark" [value]="false">Não</option>
      <option class="dark:bg-dark" [value]="true">Sim</option>
    </select>
  </div>

  <button
    class="h-11 flex justify-center items-center bg-primary-900 rounded-xl font-bold text-lg text-white w-full p-2 md:w-10/12 disabled:bg-opacity-60 enabled:hover:opacity-80 transition-all"
  >
    Entrar
  </button>
</form>
