<section class="min-h-main flex flex-col gap-10 p-6 bg-primary-50 dark:bg-dark">
  <div
    class="flex flex-row flex-wrap justify-center gap-2 w-full sm:gap-3 md:justify-between"
  >
    <div
      class="w-full h-fit flex flex-col bg-primary-800 p-6 rounded-xl text-white sm:w-5/12 md:w-3/10"
    >
      <ng-icon class="self-end" name="tablerPigMoney" size="32"></ng-icon>
      <p class="text-3xl">
        <span class="text-sm">R$ </span
        >{{ expensesTotal | currency : "BRL" : "" }}
      </p>
      <p class="text-lg">Despesa Total</p>
    </div>
    <div
      class="w-full h-fit flex flex-col bg-primary-800 p-6 rounded-xl text-white sm:w-5/12 md:w-3/10"
    >
      <ng-icon class="self-end" name="tablerReportMoney" size="32"></ng-icon>
      <p class="text-3xl">{{ expensesLength }}</p>
      <p class="text-lg">Número de despesas</p>
    </div>
    <div
      class="w-full h-fit flex flex-col bg-primary-800 p-6 rounded-xl text-white sm:w-5/12 md:w-3/10"
    >
      <ng-icon class="self-end" name="matAttachMoney" size="32"></ng-icon>
      <p class="text-3xl">
        <span class="text-sm">R$ </span
        >{{ expensesAverage | currency : "BRL" : "" }}
      </p>
      <p class="text-lg">Média das despesas</p>
    </div>
  </div>
  <div class="flex flex-row flex-wrap gap-3">
    <div class="flex flex-row flex-wrap gap-2">
      <div
        class="flex flex-row items-center gap-4 border-2 border-gray-200 bg-white dark:bg-gray-800 rounded-xl px-4 text-black dark:text-white"
      >
        <ng-icon
          class="text-gray-600 dark:text-white"
          name="bootstrapSearch"
          size="24"
        ></ng-icon>
        <input
          class="p-2 bg-transparent outline-none"
          type="text"
          placeholder="Procurar"
          [(ngModel)]="searchQuery"
        />
      </div>
      <button
        class="py-3 px-5 rounded text-white bg-primary-700 hover:opacity-80"
        (click)="onGetExpenses()"
      >
        Buscar
      </button>
    </div>
  </div>

  <div class="flex flex-row flex-wrap gap-6 justify-center sm:justify-start">
    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p class="mb-0">Valor</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="flex flex-col gap-2 z-40 absolute top-12 w-full p-3 rounded dark:text-white bg-white dark:bg-gray-800 invisible hover:visible group-focus-within:visible"
      >
        <label for="minValue">Valor Mínimo</label>
        <input
          class="bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          placeholder="Digite o valor mínimo"
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          [(ngModel)]="minValue"
          name="minValue"
          (keydown.enter)="onGetExpenses()"
        />

        <label for="maxValue">Valor Máximo</label>
        <input
          class="bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          placeholder="Digite o valor máximo"
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          [(ngModel)]="maxValue"
          name="maxValue"
          (keydown.enter)="onGetExpenses()"
        />
      </div>
    </div>

    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p>Data</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="w-full z-30 absolute top-14 invisible hover:visible group-focus-within:visible"
      >
        <mat-form-field appearance="fill">
          <mat-label>Escolha o intervalo</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              [(ngModel)]="startDate"
              matStartDate
              placeholder="Data inicial"
            />
            <input [(ngModel)]="endDate" matEndDate placeholder="Data final" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker
            (closed)="onGetExpenses()"
            #picker
          ></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p class="mb-0">Apenas Essenciais</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="flex flex-col gap-2 z-40 absolute top-12 w-64 p-3 rounded dark:text-white bg-white dark:bg-gray-800 invisible hover:visible group-focus-within:visible"
      >
        <select
          class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          name="isEssential"
          [(ngModel)]="isEssential"
          (change)="onGetExpenses()"
        >
          <option
            class="dark:bg-dark"
            [value]="undefined"
            selected
            disabled
            hidden
          >
            Só despesas essenciais
          </option>
          <option class="dark:bg-dark" [value]="false">Não</option>
          <option class="dark:bg-dark" [value]="true">Sim</option>
          <option class="dark:bg-dark" [value]="undefined">Tanto Faz</option>
        </select>
      </div>
    </div>

    <div class="flex flex-col gap-4 relative group cursor-pointer w-56">
      <button
        class="flex flex-row items-center justify-between gap-3 px-6 py-2 rounded-xl bg-primary-300 text-white opacity-80 hover:opacity-90"
      >
        <p class="mb-0">Categoria</p>
        <ng-icon name="bootstrapCaretDownFill" size="16"></ng-icon>
      </button>

      <div
        class="flex flex-col gap-2 z-40 absolute top-12 w-64 p-3 rounded dark:text-white bg-white dark:bg-gray-800 invisible hover:visible group-focus-within:visible"
      >
        <select
          class="w-full bg-transparent border-2 border-gray-200 rounded px-3 py-1 outline-none dark:text-white"
          name="categoryId"
          [(ngModel)]="categoryId"
          (change)="onGetExpenses()"
        >
          <option
            class="dark:bg-dark"
            [value]="undefined"
            selected
            disabled
            hidden
          >
            Selecione uma categoria
          </option>
          <option
            class="dark:bg-dark"
            [value]="category.id"
            *ngFor="let category of categories"
          >
            {{ category.title }}
          </option>
          <option class="dark:bg-dark" [value]="undefined">
            Nenhuma categoria
          </option>
        </select>
      </div>
    </div>
  </div>

  <app-expenses-table></app-expenses-table>
</section>
