<section class="bg-primary-50 min-h-section py-24 px-6 md:px-12">
  <div
    class="flex flex-col justify-center text-center items-center gap-8"
    appIntersectionObserver
  >
    <h1 class="text-primary-900 text-4xl font-bold">
      Conquiste o seu controle financeiro
    </h1>
    <p class="text-gray-500 font-bold text-lg">
      Cadastre uma conta e comece a fazer seu planejamento financeiro
    </p>
    <button
      class="bg-primary-900 text-white text-md font-bold rounded-md px-6 py-2 hover:opacity-80"
    >
      Teste gratuitamente
    </button>
    <div
      class="flex flex-col items-center justify-between gap-6 text-gray-600 md:flex-row md:gap-0"
    >
      <div
        class="flex flex-col w-full items-center gap-2 md:text-start md:w-5/12 md:flex-row"
      >
        <div
          class="flex justify-center rounded border-primary-900 border-2 p-2 bg-white"
        >
          <ng-icon
            class="text-primary-900"
            name="bootstrapShield"
            size="28"
          ></ng-icon>
        </div>
        <p>Tenha a segurança total das suas finanças e dos seus dados</p>
      </div>
      <div
        class="flex flex-col w-full items-center gap-2 md:text-start md:w-5/12 md:flex-row"
      >
        <div
          class="flex justify-center rounded border-primary-900 border-2 p-2 bg-white"
        >
          <ng-icon
            class="text-primary-900"
            name="bootstrapLaptop"
            size="28"
          ></ng-icon>
        </div>
        <p>Acesse sua conta de qualquer dispositivo com um navegador</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-white min-h-section flex flex-row gap-8 py-24 px-6 md:px-12">
  <div class="flex flex-col gap-8 w-1/2" appIntersectionObserver>
    <h1 class="text-primary-800 text-4xl font-bold">
      Comece a planejar agora mesmo
    </h1>
    <p class="text-gray-500 font-bold text-md">
      Comece a planejar em uma ferramenta extremamente simples e amigável, ideal
      para quem nunca criou um planejamento financeiro antes
    </p>
    <button
      class="bg-primary-800 w-64 text-white text-md font-bold rounded-md px-8 py-3 mt-16 hover:opacity-80"
    >
      Crie sua conta
    </button>
  </div>
</section>
