<section class="bg-primary-50 dark:bg-dark min-h-section py-24 px-6 md:px-12">
  <div
    class="flex flex-col justify-center text-center items-center gap-8"
    appIntersectionObserver
    [threshold]="0.5"
  >
    <h1 class="text-primary-900 dark:text-primary-500 text-4xl font-bold">
      Conquiste o seu controle financeiro
    </h1>
    <p class="text-gray-600 dark:text-gray-200 font-bold text-lg">
      Cadastre uma conta e comece a fazer seu planejamento financeiro
    </p>
    <button
      class="bg-primary-800 w-64 text-white text-md font-bold rounded-md px-8 py-3 mt-4 md:mt-8 hover:opacity-80"
      [routerLink]="['/auth', 'cadastro']"
      aria-label="Botão que leva à página de cadastro"
    >
      Teste gratuitamente
    </button>
    <div
      class="flex flex-col items-center justify-between gap-6 text-gray-600 md:flex-row md:gap-0"
    >
      <div
        class="flex flex-col w-full items-center gap-2 md:text-start md:w-5/12 md:flex-row"
      >
        <div
          class="flex justify-center rounded border-primary-900 border-2 p-2 bg-white"
        >
          <ng-icon
            class="text-primary-900"
            name="bootstrapShield"
            size="28"
          ></ng-icon>
        </div>
        <p class="dark:text-gray-100">
          Tenha a segurança total das suas finanças e dos seus dados
        </p>
      </div>
      <div
        class="flex flex-col w-full items-center gap-2 md:text-start md:w-5/12 md:flex-row"
      >
        <div
          class="flex justify-center rounded border-primary-900 border-2 p-2 bg-white"
        >
          <ng-icon
            class="text-primary-900"
            name="bootstrapLaptop"
            size="28"
          ></ng-icon>
        </div>
        <p class="dark:text-gray-100">
          Acesse sua conta de qualquer dispositivo com um navegador
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="bg-white dark:bg-dark dark:border-y-2 dark:border-white min-h-section flex flex-col text-center justify-center items-center gap-8 py-24 px-6 md:px-12 lg:flex-row lg:text-start lg:justify-between"
>
  <div
    class="flex flex-col justify-center items-center gap-8 w-full lg:w-1/2 lg:justify-start lg:items-start"
    appIntersectionObserver
    [threshold]="0.6"
  >
    <h1 class="text-primary-800 dark:text-primary-500 text-4xl font-bold">
      Comece a planejar agora mesmo
    </h1>
    <p class="text-gray-500 dark:text-gray-200 font-bold text-md">
      Comece a planejar em uma ferramenta extremamente simples e amigável, ideal
      para quem nunca criou um planejamento financeiro antes
    </p>
    <button
      class="bg-primary-800 w-64 text-white text-md font-bold rounded-md px-8 py-3 lg:mt-8 hover:opacity-80"
      [routerLink]="['/auth', 'cadastro']"
      aria-label="Botão que leva à página de cadastro"
    >
      Crie sua conta
    </button>
  </div>
  <img
    class="w-full lg:w-1/2 hidden md:block dark:md:hidden"
    appIntersectionObserver
    [threshold]="0.6"
    src="assets/mockup_light.png"
    alt="Mockup do dashboard de finanças no tema claro"
  />
  <img
    class="w-full lg:w-1/2 hidden dark:md:block"
    appIntersectionObserver
    [threshold]="0.6"
    src="assets/mockup_dark.png"
    alt="Mockup do dashboard de finanças no tema escuro"
  />
</section>
<section class="bg-primary-50 dark:bg-dark min-h-section py-24 px-6 md:px-12">
  <div
    class="flex flex-col justify-center text-center items-center gap-8"
    appIntersectionObserver
    [threshold]="0.1"
  >
    <h1 class="text-primary-900 dark:text-primary-500 text-4xl font-bold">
      Veja alguma de nossas funcionalidades
    </h1>
    <p class="text-gray-700 dark:text-gray-300 text-lg">
      Os benefícios de utilizar a nossa plataforma
    </p>
    <div class="flex flex-wrap justify-center items-center gap-10">
      <app-feature iconName="bootstrapLockFill" title="Segurança"
        >Tenha a confiança de que os seus dados estão completamente seguros em
        nossa base de dados</app-feature
      >
      <app-feature iconName="bootstrapHandIndexThumbFill" title="Facilidade"
        >Tenha a facilidade para criar o seu planejamento, mesmo que essa seja a
        sua primeira vez</app-feature
      >
      <app-feature iconName="bootstrapPhoneFill" title="Portabilidade"
        >Acesse a sua conta de qualquer dispositivo que tenha um navegador e
        conexão à internet</app-feature
      >
      <app-feature iconName="bootstrapBarChartFill" title="Visualize seus dados"
        >Visualize as suas despesas, receitas e metas em gráficos
        intuitivos</app-feature
      >
      <app-feature iconName="bootstrapInboxesFill" title="Organização"
        >Organize facilmente as suas receitas, metas e despesas de acordo com as
        categorias disponíveis</app-feature
      >
      <app-feature iconName="bootstrapEyeFill" title="Intuitivo"
        >Tenha uma boa experiência de usuário com nossa interface simples e
        intuitiva</app-feature
      >
    </div>
  </div>
</section>
